%template#comment_form
  %form.button_to{ method: "post" }
    %input.edit_comment_button{ type:"submit", value: "Edit" }

  %form.edit_comment{style: "display:none;", 'accept-charset': "UTF-8", data: { remote: "true" }, method: "post"}
    %input{ name: "utf8", type: "hidden", value: "✓" }
    %input{ type: "hidden", name: "_method", value: "patch" }
    .question-edit-comment-errors
    %label{ for: "comment_body" } Edit your comment
    %input#question_comment_body{ type: "text", value: "", name: "comment[body]" }
    %input{ type: "submit", name: "commit", value: "Comment", data: { 'disable-with': "Comment" } }
