%h1 Questions

= link_to "Ask question", new_question_path

%table
  %tr
    %th Title
    - @questions.each do |question|
      %tr.question
        %td
          = question.title
        %td
          = link_to "Show", question

= subscribe_to "/questions"
