.git
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/cache/.keep
/vendor/bundle
/public/assets
/.bundle
.idea

/public/uploads/*
/spec/*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/db/sphinx
/config/*.sphinx.conf
